body,
html {
  height: 100%;
  transition: 1s;
  background-color: #bddd81;
}
#container {
  width: 90%;
  margin: auto;
  padding: 0 25px;
}

.chat-messages {
  background-color: #68bbce;
  height: 100%;
  overflow-y: auto;
  border-radius: 12px;
  width: 100px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-right: 6px;
  width: 100px;
}

.chat-message {
  transition: 1s;
  background: #bddd81;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  align-self: flex-start;
  min-height: 24px;
  padding: 8px;
  margin-bottom: 6px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.user2 {
  margin-top: 0%;
  font-size: 40px;
  color: #fb8500;
  margin-left: 43%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.chat-messages-empty {
  color: white;
  margin: auto;
  font-size: 23px;
}
.chat-user {
  margin-top: 5px;
  margin-left: 280%;
  background-color: #68bbce;
  height: 100%;
  overflow-y: auto;
  border-radius: 2px;
  width: 200px;
}

.chat-user:hover {
  background-color: rgb(255, 123, 0);
}

.chat-content {
  height: 70vh;
  max-height: 70vh;

  margin-bottom: 12px;
}

.chat-header {
  font-size: 40px;
  color: #fb8500;
  margin-bottom: 30px;
  margin-left: 47%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.chat-box {
  color: yellow;
}

.chat-message-content {
  font-size: 16px;
  color: white;
}

.chat-message-time,
.chat-message-author {
  color: yellow;
  margin-right: 5px;
}

.chat-message-author {
  font-size: 16px;
}

.chat-message-time {
  font-size: 16px;
}

.chat-content > div {
  width: 100%;
}
.user {
  margin-top: 16%;
  font-size: 16px;
  color: #fb8500;
  margin-left: 40%;
}
#username-input {
  margin-top: 1%;
  width: 400px;
  margin-left: 38%;
}
#connect-btn {
  margin-left: 46%;
  color: aquamarine;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  font-size: 16px;
  padding: 22px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.form-control {
  width: 600px;
}
button {
  padding: 8px;
  background-color: #020f47;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  margin-top: 1%;
  outline: none;
  margin-left: 90%;
  margin-top: -10%;
}
button {
  background: rgb(45, 50, 102);
}
